* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 :root {
    --main-font: "Kodchasan", sans-serif;
    --secondary-font: "Inter", sans-serif;

    --bg-color: #F6F3EE;
    --bg-footer: #241201;
 }

 body {
    width: 100%;
    height: 100vh;
    
    font-family: var(--main-font);
    background-color: var(--bg-color);
 }
